// Styling for the navbar
#mainNav {
  padding: 0px 0px;

  @include body-font;
  .navbar-brand {
    color: $white;
  }

  .navbar-nav {
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
    border-radius: 0px;
    color: $white;
    background: $lightbluecolor;
  }
}
@media(min-width:992px) {
  #mainNav {
    .navbar-brand {
      padding: 0px;
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }

    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $lightbluecolor;

      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $lightbluecolor;
      }
    }
  }
}
